<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<div class="container mb-3">
  <form action="/restaurants" method="POST" class="col-md-10 col-12 mx-auto" id="createForm">
    <div class="mb-3">
      <label for="name" class="form-label red-spot">店名</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳名稱..." name="name" id="name" required>
    </div>

    <div class="mb-3">
      <label for="name_en" class="form-label red-spot">英文名</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳英文名..." name="name_en" id="name_en" required>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label red-spot">類別</label>
      <input type="text" list="categoryOptions" class="form-control" placeholder="請選取或輸入" name="category" id="category" required>
      <datalist id="categoryOptions">
        <option value="中東料理">
        <option value="義式餐廳">
        <option value="日本料理">
        <option value="美式餐廳">
        <option value="酒吧">
        <option value="咖啡">
      </datalist>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label red-spot">圖片</label>
      <input type="url" class="form-control" placeholder="請提供圖片連結" name="image" id="image" required>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label red-spot">地址</label>
      <input type="text" class="form-control" placeholder="請輸入地址..." name="location" id="location" required>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label red-spot">電話</label>
      <input type="tel" class="form-control" placeholder="請輸入電話" name="phone" id="phone" required>
    </div>

    <div class="mb-3">
      <label for="google_map" class="form-label red-spot">Google map</label>
      <input type="url" class="form-control" placeholder="請提供連結" name="google_map" id="google_map" required>
    </div>

    <div class="mb-3">
      <label for="rating" class="form-label red-spot">評分</label>
      <input type="number" min="1" max="5" step="0.1" class="form-control" placeholder="1至5分，每一級距0.1" name="rating" id="rating" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label red-spot">簡介</label>
      <textarea class="form-control" placeholder="" name="description" id="description" value="" required></textarea>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary m-2" id="createSubmit">新增餐廳</button>
      <a href="/"><button type="button" class="btn btn-outline-dark m-2">返回首頁</button></a>
      <button type="reset" class="btn btn-danger m-2">清空欄位</button>
    </div>
    
  </form>
</div>

<script>
  // 驗證 new page 表單內容
    const createSubmit = document.querySelector('#createSubmit')
    const createForm = document.querySelector('#createForm')
    createSubmit.addEventListener('click', function onCreateSubmitClicked(event) {
      createForm.classList.add('was-validated')
    })
</script>